#barchart {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    /* repeats the columns 40 times */
    gap: 3px;
    align-items: end; 
    /* aligns the bars at the bottom */
}

.bar {
    background-color: black;
    outline: 1px solid tomato;
    height: 100px;
}